# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# UV
#   Similar to Pipfile.lock, it is generally recommended to include uv.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#uv.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock
#poetry.toml

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#   pdm recommends including project-wide configuration in pdm.toml, but excluding .pdm-python.
#   https://pdm-project.org/en/latest/usage/project/#working-with-version-control
#pdm.lock
#pdm.toml
.pdm-python
.pdm-build/

# pixi
#   Similar to Pipfile.lock, it is generally recommended to include pixi.lock in version control.
#pixi.lock
#   Pixi creates a virtual environment in the .pixi directory, just like venv module creates one
#   in the .venv directory. It is recommended not to include this directory in version control.
.pixi

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/

# Abstra
# Abstra is an AI-powered process automation framework.
# Ignore directories containing user credentials, local state, and settings.
# Learn more at https://abstra.io/docs
.abstra/

# Visual Studio Code
#  Visual Studio Code specific template is maintained in a separate VisualStudioCode.gitignore 
#  that can be found at https://github.com/github/gitignore/blob/main/Global/VisualStudioCode.gitignore
#  and can be added to the global gitignore or merged into this file. However, if you prefer, 
#  you could uncomment the following to ignore the entire vscode folder
# .vscode/

# Ruff stuff:
.ruff_cache/

# PyPI configuration file
.pypirc

# Cursor
#  Cursor is an AI-powered code editor. `.cursorignore` specifies files/directories to
#  exclude from AI features like autocomplete and code analysis. Recommended for sensitive data
#  refer to https://docs.cursor.com/context/ignore-files
.cursorignore
.cursorindexingignore

# Marimo
marimo/_static/
marimo/_lsp/
__marimo__/
checkpoints/bert-base-turkish-cased/adapter_config.json
checkpoints/bert-base-turkish-cased/adapter_model.safetensors
checkpoints/bert-base-turkish-cased/all_results.json
checkpoints/bert-base-turkish-cased/config.json
checkpoints/bert-base-turkish-cased/eval_results.json
checkpoints/bert-base-turkish-cased/model.safetensors
checkpoints/bert-base-turkish-cased/README.md
checkpoints/bert-base-turkish-cased/special_tokens_map.json
checkpoints/bert-base-turkish-cased/tokenizer_config.json
checkpoints/bert-base-turkish-cased/tokenizer.json
checkpoints/bert-base-turkish-cased/train_results.json
checkpoints/bert-base-turkish-cased/trainer_state.json
checkpoints/bert-base-turkish-cased/training_args.bin
checkpoints/bert-base-turkish-cased/vocab.txt
checkpoints/bert-base-turkish-cased/checkpoint-2379/adapter_config.json
checkpoints/bert-base-turkish-cased/checkpoint-2379/adapter_model.safetensors
checkpoints/bert-base-turkish-cased/checkpoint-2379/optimizer.pt
checkpoints/bert-base-turkish-cased/checkpoint-2379/README.md
checkpoints/bert-base-turkish-cased/checkpoint-2379/rng_state.pth
checkpoints/bert-base-turkish-cased/checkpoint-2379/scaler.pt
checkpoints/bert-base-turkish-cased/checkpoint-2379/scheduler.pt
checkpoints/bert-base-turkish-cased/checkpoint-2379/special_tokens_map.json
checkpoints/bert-base-turkish-cased/checkpoint-2379/tokenizer_config.json
checkpoints/bert-base-turkish-cased/checkpoint-2379/trainer_state.json
checkpoints/bert-base-turkish-cased/checkpoint-2379/training_args.bin
checkpoints/bert-base-turkish-cased/checkpoint-2379/vocab.txt
checkpoints/bert-base-turkish-cased/checkpoint-793/adapter_config.json
checkpoints/bert-base-turkish-cased/checkpoint-793/adapter_model.safetensors
checkpoints/bert-base-turkish-cased/checkpoint-793/optimizer.pt
checkpoints/bert-base-turkish-cased/checkpoint-793/README.md
checkpoints/bert-base-turkish-cased/checkpoint-793/rng_state.pth
checkpoints/bert-base-turkish-cased/checkpoint-793/scaler.pt
checkpoints/bert-base-turkish-cased/checkpoint-793/scheduler.pt
checkpoints/bert-base-turkish-cased/checkpoint-793/special_tokens_map.json
checkpoints/bert-base-turkish-cased/checkpoint-793/tokenizer_config.json
checkpoints/bert-base-turkish-cased/checkpoint-793/trainer_state.json
checkpoints/bert-base-turkish-cased/checkpoint-793/training_args.bin
checkpoints/bert-base-turkish-cased/checkpoint-793/vocab.txt
checkpoints/turkish-gpt2-large/adapter_config.json
checkpoints/turkish-gpt2-large/adapter_model.safetensors
checkpoints/turkish-gpt2-large/all_results.json
checkpoints/turkish-gpt2-large/eval_results.json
checkpoints/turkish-gpt2-large/merges.txt
checkpoints/turkish-gpt2-large/README.md
checkpoints/turkish-gpt2-large/special_tokens_map.json
checkpoints/turkish-gpt2-large/tokenizer_config.json
checkpoints/turkish-gpt2-large/train_results.json
checkpoints/turkish-gpt2-large/trainer_state.json
checkpoints/turkish-gpt2-large/training_args.bin
checkpoints/turkish-gpt2-large/vocab.json
checkpoints/turkish-gpt2-large/checkpoint-6342/adapter_config.json
checkpoints/turkish-gpt2-large/checkpoint-6342/adapter_model.safetensors
checkpoints/turkish-gpt2-large/checkpoint-6342/merges.txt
checkpoints/turkish-gpt2-large/checkpoint-6342/optimizer.pt
checkpoints/turkish-gpt2-large/checkpoint-6342/README.md
checkpoints/turkish-gpt2-large/checkpoint-6342/rng_state.pth
checkpoints/turkish-gpt2-large/checkpoint-6342/scheduler.pt
checkpoints/turkish-gpt2-large/checkpoint-6342/special_tokens_map.json
checkpoints/turkish-gpt2-large/checkpoint-6342/tokenizer_config.json
checkpoints/turkish-gpt2-large/checkpoint-6342/trainer_state.json
checkpoints/turkish-gpt2-large/checkpoint-6342/training_args.bin
checkpoints/turkish-gpt2-large/checkpoint-6342/vocab.json
checkpoints/turkish-gpt2-large/checkpoint-9513/adapter_config.json
checkpoints/turkish-gpt2-large/checkpoint-9513/adapter_model.safetensors
checkpoints/turkish-gpt2-large/checkpoint-9513/merges.txt
checkpoints/turkish-gpt2-large/checkpoint-9513/optimizer.pt
checkpoints/turkish-gpt2-large/checkpoint-9513/README.md
checkpoints/turkish-gpt2-large/checkpoint-9513/rng_state.pth
checkpoints/turkish-gpt2-large/checkpoint-9513/scheduler.pt
checkpoints/turkish-gpt2-large/checkpoint-9513/special_tokens_map.json
checkpoints/turkish-gpt2-large/checkpoint-9513/tokenizer_config.json
checkpoints/turkish-gpt2-large/checkpoint-9513/trainer_state.json
checkpoints/turkish-gpt2-large/checkpoint-9513/training_args.bin
checkpoints/turkish-gpt2-large/checkpoint-9513/vocab.json
checkpoints/bert-base-turkish-cased/checkpoint-3172/config.json
checkpoints/bert-base-turkish-cased/checkpoint-3172/model.safetensors
checkpoints/bert-base-turkish-cased/checkpoint-3172/optimizer.pt
checkpoints/bert-base-turkish-cased/checkpoint-3172/rng_state.pth
checkpoints/bert-base-turkish-cased/checkpoint-3172/scheduler.pt
checkpoints/bert-base-turkish-cased/checkpoint-3172/special_tokens_map.json
checkpoints/bert-base-turkish-cased/checkpoint-3172/tokenizer_config.json
checkpoints/bert-base-turkish-cased/checkpoint-3172/tokenizer.json
checkpoints/bert-base-turkish-cased/checkpoint-3172/trainer_state.json
checkpoints/bert-base-turkish-cased/checkpoint-3172/training_args.bin
checkpoints/bert-base-turkish-cased/checkpoint-3172/vocab.txt
checkpoints/bert-base-turkish-cased/checkpoint-4758/config.json
checkpoints/bert-base-turkish-cased/checkpoint-4758/model.safetensors
checkpoints/bert-base-turkish-cased/checkpoint-4758/optimizer.pt
checkpoints/bert-base-turkish-cased/checkpoint-4758/rng_state.pth
checkpoints/bert-base-turkish-cased/checkpoint-4758/scheduler.pt
checkpoints/bert-base-turkish-cased/checkpoint-4758/special_tokens_map.json
checkpoints/bert-base-turkish-cased/checkpoint-4758/tokenizer_config.json
checkpoints/bert-base-turkish-cased/checkpoint-4758/tokenizer.json
checkpoints/bert-base-turkish-cased/checkpoint-4758/trainer_state.json
checkpoints/bert-base-turkish-cased/checkpoint-4758/training_args.bin
checkpoints/bert-base-turkish-cased/checkpoint-4758/vocab.txt
